<header class="main-header">
	<a href="/index" class="logo"><span class="logo-mini"><b>S</b>D</span><span class="logo-lg" th:text="${session.sysName}"></span> </a>
	<nav class="navbar navbar-static-top">
		<a href="javaScript:void(0);" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span></a>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown messages-menu"><a href="javaScript:void(0);" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-envelope-o"></i><span class="label label-success">4</span></a></li>
				<li class="dropdown notifications-menu"><a href="javaScript:void(0);" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell-o"></i> <span class="label label-warning">10</span></a></li>
				<li class="dropdown tasks-menu"><a href="javaScript:void(0);" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-flag-o"></i> <span class="label label-danger">9</span></a></li>
				<li class="dropdown user user-menu"><a href="javaScript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><img src="/img/javaJquery.png" class="user-image" alt="User Image"></img><span class="hidden-xs" th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}"></span></a>
					<ul class="dropdown-menu">
						<li class="user-header"><img src="/img/javaJquery.png" class="img-circle" alt="User Image"></img>
							<p>
								纸上得来终觉浅,绝知此事要躬行 <small>2016-05-16</small>
							</p></li>
						<!-- Menu Body -->
						<li class="user-body">
							<div class="row">
								<div class="col-xs-4 text-center">
									<a href="#">Followers</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Sales</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Friends</a>
								</div>
							</div>
						</li>
						<li class="user-footer">
							<!-- <div class="pull-left">
								<a href="#" class="btn btn-default btn-flat">Profile</a>
							</div> -->
							<div class="pull-right">
								<a href="/logout" class="btn btn-default btn-flat">安全退出</a>
							</div>
						</li>
					</ul></li>
			</ul>
		</div>
	</nav>
</header>