@CHARSET "UTF-8";

.loginContainer {
	margin-top: 10%;
}
/*********************Start Common css*********************************************/
.W100 {
	width: 100%;
}

.W90 {
	width: 90%;
}

.W80 {
	width: 80%;
}

.W70 {
	width: 70%;
}

.W60 {
	width: 60%;
}

.W50 {
	width: 50%;
}
W40 {
	width: 40%;
}
W30 {
	width: 30%;
}
W20 {
	width: 20%;
}
W10 {
	width: 10%;
}
/*********************End Common css*********************************************/